[package]
name = "avid-rustacean-frontend"
version = "0.1.0"
edition = "2021"

[profile.release]
# Reduces the binary size of the WASM file.
lto = true
opt-level="z"

[dependencies]
avid-rustacean-model = { path = "../model" }
# Using my fork for now as I need access to the paragraph line count method that I implemented
ratatui = { version = "0.24.1-alpha.6", default-features = false, features = ["all-widgets", "unstable-rendered-line-info"] }
yew = { version = "0.20", features = ["csr"] }
yew-router = { version = "0.17.0" }
web-sys = { version = "0.3", features = ["Window", "Screen"] }
wasm-bindgen = { version = "0.2" }
js-sys = { version = "0.3" }
send_wrapper = "0.6.0"
reqwest = { version = "0.11", features = ["json", "cookies"] }
derive_more = "0.99.17"
url-escape = "0.1.1"
serde = { version = "1.0.193", features = ["derive"] }
