name: Avid Rustacean CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  code_cleaniness_checks:
    name: Formatting Checks
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: nightly
          components: rustfmt
      - uses: actions/checkout@v4
      - run: cargo fmt --check --all
  tests:
    needs: code_cleaniness_checks
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
          components: rustfmt
          targets: wasm32-unknown-unknown
      - uses: actions/checkout@v4
      - name: Fetch Trunk
        uses: jetli/trunk-action@v0.5.0
        with:
          version: 'latest'
      - run: wget -qO- https://github.com/thedodd/trunk/releases/download/v0.16.0/trunk-x86_64-unknown-linux-gnu.tar.gz | tar -xzf-
      - run: pwd >> $GITHUB_PATH
      - run: cargo build --all --verbose
      - run: cargo test --package avid-rustacean-model --verbose
      - run: cargo test --package avid-rustacean-builder --verbose
      - run: trunk build frontend/index.html
  deployment:
    if: github.event_name == 'push'
    needs: tests
    runs-on: ubuntu-latest
    name: shalzz/zola-deploy-action
    steps:
    - uses: actions/checkout@master
    - run: scripts/compile_tui.sh
    - name: shalzz/zola-deploy-action
      uses: shalzz/zola-deploy-action@master
      env:
        BUILD_DIR: TylerBloom.github.io
        PAGES_BRANCH: main
        GITHUB_TOKEN: ${{ secrets.PAGES_KEY }}
